[trainer]
# Could be one of ["iterative", "supervised"]
type = "iterative"
detector_prefix = "det_"

## Available for Fully-Supervised trainer
# #{negative boxes for train} / #{positive boxes for train}
neg_pos_ratio = 2

[dataset]
# Could be one of ["voc"]
type = "voc"

## Available for Pacal VOC dataset: type "voc"
# Pascal VOC devkit path
path = "/dataset/VOC/VOC2007/VOCdevkit"
# The year
year = 2007
# Use difficult annotations?
use_diff = false

[proposal]
# Could be one of ["ss"]
type = "ss"

[feature]
# Could be one of ["hog"]
type = "hog"

# Avaiable for HOG feature: type "hog"
# FYI: default feature dim is 15786
win_size = 128
orientations = 9 # default of skimage.feature.hog
pixels_per_cell = 8 # default of skimage.feature.hog
cells_per_block = 3 # default of skimage.feature.hog

[detector]
# Could be one of ["svm", "cnn"]
type = "svm"
