[trainer]
# Could be one of ["iterative", "supervised"]
type = "iterative"
detector_prefix = "det_"

## Available for Fully-Supervised trainer
# #{negative boxes for train} / #{positive boxes for train}
neg_pos_ratio = 2
# Use flipped postive bboxes for training too
flipped = true

## Available for Iterative trainer
fold = 10

[dataset]
# Could be one of ["voc", "image"]
type = "voc"

## Available for Pacal VOC dataset: type "voc"
# Pascal VOC devkit path
path = "/dataset/VOC/VOC2007/VOCdevkit"
# The year
year = 2007
# Use difficult annotations?
use_diff = false

## Available for local-filesystem images: type "image"
# Find image files under `path`
image_path = "."
# Legal extension of image files in lower case.
legal_ext = ["jpg", "png"]

[proposal]
# Could be one of ["subprocess"]
type = "subprocess"

## Available for type "subprocess"
# The command to run in subprocess,
# this command should and should only print get proposal results
# seperated by '\n' to standard output.
# Use {input_image_fname} as the place holder for input image file name.
command = ""

[feature]
# Could be one of ["hog", "cnn"]
type = "hog"

## Available for HOG feature: type "hog"
# FYI: default feature dim is 15786
win_size = 128
orientations = 9 # default of skimage.feature.hog
pixels_per_cell = 8 # default of skimage.feature.hog
cells_per_block = 3 # default of skimage.feature.hog

## Available for CNN feature: type "cnn"
# FYI: If the bvlc_caffenet pretrained model on imagenet is used, 
#      the default dim is 9216
proto = "./cnn/extract_feature.pt"
caffemodel = "./cnn/extract_feature.caffemodel"
dedup_boxes = 0.0625
# GPU
gpu_mode = true
gpu_id = 0
# Optional, defaults will be <PROJECT_ROOT>/cnn/py-faster-rcnn/lib 
# and <PROJECT_ROOT>/cnn/py-faster-rcnn/caffe-fast-rcnn/python
# faster_rcnn_path = ""
# pycaffe_path = ""

[detector]
# Could be one of ["svm", "cnn"]
type = "svm"

[tester]
# Could be one of ["regular"]
type = "regular"
debug = false

# type of [trainer] section     
trainer_type = "supervised"
detector_prefix = "det_"
# Threshold of proposal that will be handled
proposal_threshold = 0.3
max_proposal_per_im = 200

# Threshold of detector score to send into nms
pre_nms_threshold = 0.7
# IoU threshold of NMS
nms_iou_threshold = 0.3
